body {
	width: 600px;
	height: 600px;
	margin: 20px auto;
	background-color: maroon;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	display: flex;
	flex-direction: row;
}
#pointsContainer {
	display: flex;
	flex-direction: row;
}
#game {
	height: 400px;
	display: none;
	flex-direction: column;
	align-items: center;
}
div {
	margin: 10px;
	padding: 10px;
}
button {
	margin: 0 10px;
}
h1 {
	font-size: x-large;
}
p,
div,
h6 {
	color: yellow;
}
#type {
	font-size: 30px;
}
#textbox {
	display: none;
}
@media only screen and (max-width: 720px) {
	#textbox {
		display: block;
		font-size: 35px;
	}
}
